<div class="header2">
  <div class="logo" routerLink="./home">
    <img src="https://i.ibb.co/YygngGP/1-07.png" />
  </div>
  <div class="navbar">
    <div class="about" routerLink="./about-us">About Us</div>
    <div class="admission" routerLink="./admission">Admission</div>
    <div class="studies" routerLink="./studies">Studies</div>
    <div class="news" routerLink="./news">News</div>
    <div class="events" routerLink="./events">Events</div>
    <div class="students-life" routerLink="./students-life">Students Life</div>
    <div class="contact" routerLink="./contact">Contact</div>
  </div>
  <div class="my-alte">
    <div class="get-informed" routerLink="./apply">Get Informed</div>
  </div>
</div>
