<div class="header">
  <div class="logo" routerLink="/home">
    <img src="https://i.ibb.co/YygngGP/1-07.png" />
  </div>
  <div class="navbar">
    <div class="navbar-item" routerLink="/about-us">About Us</div>
    <div class="navbar-item" routerLink="/admissions">Admissions</div>
    <div class="navbar-item" routerLink="/studies">Studies</div>
    <div class="navbar-item" routerLink="/news">News</div>
    <div class="navbar-item" routerLink="/events">Events</div>
    <div class="navbar-item" routerLink="/students-life">Students Life</div>
    <div class="navbar-item" routerLink="/contact">Contact</div>
  </div>
  <div class="my-alte">
    <div class="get-informed" routerLink="/apply">Get Informed</div>
  </div>
</div>
