<p>News</p>
<div class="add" (click)="addOnClick()"><button>Add New Event</button></div>

<form #popup="ngForm" *ngIf="popupVisibility">
  <div class="container">
    <div class="ttl">Add New Event</div>
    <input
      name="title"
      type="text"
      placeholder="Title"
      [(ngModel)]="event.title"
    />
    <input
      name="img"
      type="text"
      placeholder="Image Url"
      [(ngModel)]="event.img"
    />
    <input
      name="startdate"
      type="date"
      placeholder="Start Date"
      [(ngModel)]="event.startdate" 
      
    />
    <input
    name="startdate"
    type="date"
    placeholder="Start Date"
    [(ngModel)]="event.enddate" 
    
  />
    <input
      name="time"
      type="time"
      placeholder="time"
      [(ngModel)]="event.time" 
      
    />
    <input
    name="Description"
    type="text"
    placeholder="Description"
    [(ngModel)]="event.description"
  />
    <div class="editor">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
      <ngx-editor
        name="content"
        [editor]="editor"
        [(ngModel)]="html"
        [disabled]="false"
        [placeholder]="'Type here...'"
      ></ngx-editor>
    </div>

    <div class="buttons">
      <div class="cancel" (click)="cancelOnClick()">Cancel</div>
      <div class="create" (click)="createOnClick()">Create</div>
    </div>
  </div>
</form>

<div class="news-container">
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Img</th>
        <th>Date & Time </th>
        <th>Description</th>
        <th>edit</th>
      </tr>
    </thead>
    <tbody class="member" *ngFor="let event of events">
      <tr>
        <td>{{ event.title }}</td>
        <td><img src="{{ event.img }}" /></td>
        <td>{{ event.startdate}} {{ event.enddate}} | {{ event.time}}</td>
        <td>{{ event.description }}</td>
        <td>
          <img
            src="https://cdn-icons-png.flaticon.com/512/5773/5773168.png"
            class="removebtn" (click)="removeOnClick(event.id!)"
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/1160/1160515.png"
            class="editbtn" (click)="editOnClick(event)"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>

