.programs {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 32px;
}
.item {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 320px;
  padding: 8px 12px;
  background-color: #f3f5f6;
  border: 1px solid #0e3d4b;
  box-shadow: 2px 2px 0px 0px #0e3d4b;
  cursor: pointer;
}

img {
  height: 50px;
  margin-right: 16px;
}
button {
  padding: 8px 16px;
  background-color: #0e3d4b;
  color: white;
  border-radius: 16px;
  cursor: pointer;
  margin-bottom: 32px;
}
.container {
  width: 540px;
  padding: 48px 0px 80px;
  border: 1px solid #0e3d4b;
  box-shadow: 2px 2px 0px 0px #0e3d4b;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: flex-end;
  .ttl {
    font-size: 20px;
    color: #0e3d4b;
    font-weight: bold;
    margin-bottom: 20px;
  }
  input,
  select {
    width: 400px;
    padding: 8px 2px;
    border: none;
    border-bottom: 1px solid #0e3d4b;
    outline: none;
  }

  .buttons {
    display: flex;
    gap: 12px;
    margin-top: 48px;

    .cancel,
    .create {
      padding: 4px 16px;
      background-color: #0e3d4b;
      color: white;
      border-radius: 16px;
      cursor: pointer;
    }
  }
}
