<form #form="ngForm" *ngIf="admission">
  <input
    name="title"
    placeholder="Title"
    [(ngModel)]="admission.title"
    [required]="true"
  />

  <input
    name="description"
    placeholder="Description"
    [(ngModel)]="admission.description"
    [required]="true"
  />

  <div class="editor">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
    <ngx-editor
      name="content"
      [editor]="editor"
      [(ngModel)]="html"
      [disabled]="false"
      [placeholder]="'Type here...'"
    ></ngx-editor>
  </div>

  <ui-action-buttons
    [disabled]="form.invalid"
    (onSave)="saveOnClick()"
  ></ui-action-buttons>
</form>
